.embla {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px; /* Add padding to make room for arrows */
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    height: 100%;
  }
  
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    position: relative;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 10px;
  }
  
  .embla__slide__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 80vh; /* Adjust this value as needed */
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 20%;
    transform: translateY(-50%);
    border: 0;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    fill: #fff;
    padding: 0;
    transition: 0.3s ease;
    display: flex; /* Added for centering content */
    border-radius: 30px;
  }
  
  .embla__button:hover {
    background-color: #eeeeee;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button--prev {
    left: 0; /* Align with the left edge of the padding */
  }
  
  .embla__button--next {
    right: 0; /* Align with the right edge of the padding */
  }
  
  /* Optional: Style for arrow icons */
  .embla__button__svg {
    width: 20px;
    height: 20px;
  }